<%= render 'shared/page_title', title: 'showing all chefs' %>

<div align = "center">
  <%= will_paginate @chefs %>
</div>

<div align="center">
  <% @chefs.each do |chef| %>
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <%= link_to chef.name.capitalize, chef_path(chef), class: "list-group-item" %>
          <small><%=chef.recipes.count%> recipes</small>
        </ul>
    </div>
    </div>
  <% end %>
</div>
