<%= render 'shared/page_title',title: @recipe.name%>

<div class="col-md-8 card">
  <p class="center description">
    <strong>Description </strong>
  </p>
  <hr />
  <%= @recipe.description %>
  <p>
    <small> Created by: <%= @recipe.chef.name%> </small>
  </p>
</div>
